{{!< default}}

{{#post}}

<header>
    {{> "main-header"}}
</header>

<main class="content" role="main">
    <article class="{{post_class}}">
        <section class="post-content">
            {{content}}
        </section>

        <div class="social-content">
            <div class="social-content-item">
                <div class="fb-like" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
            </div>
            <div class="social-content-item">
                <a href="https://twitter.com/share" class="twitter-share-button"{count}>Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
        </div>

        <div class="content-nav">
                <span>
                    {{#next_post}}
                        <a href="{{url}}" id="next-post-link">&larr;</a>
                    {{/next_post}}
                </span>
                <span>
                    {{#prev_post}}
                        <a href="{{url}}" id="prev-post-link">&rarr;</a>
                    {{/prev_post}}
                </span>
        </div>
    </article>
</main>
<script type="text/javascript" src="{{asset "js/hammer.min.js"}}"></script>
<script type="text/javascript" src="{{asset "js/navigation.js"}}"></script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=943233365753250";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
{{/post}}
