{{!< default}}

{{#post}}

<header>
    {{> "main-header"}}
</header>

<main class="content" role="main">
    <article class="{{post_class}}">
        <section class="post-content">
            {{content}}
        </section>
        <div class="content-nav">
                <span>
                    {{#next_post}}
                        <a href="{{url}}" id="next-post-link">&larr;</a>
                    {{/next_post}}
                </span>
                <span>
                    {{#prev_post}}
                        <a href="{{url}}" id="prev-post-link">&rarr;</a>
                    {{/prev_post}}
                </span>
        </div>
    </article>
</main>
<script type="text/javascript" src="{{asset "js/hammer.min.js"}}"></script>
<script>
    var hammertime = new Hammer(document.body, {});
    var anchor;
    hammertime.on('swipeleft', function(event) {
        navigateToAdjacent('#prev-post-link');
    });

    hammertime.on('swiperight', function(event) {
        navigateToAdjacent('#next-post-link');
    });

    document.body.addEventListener('keydown', function(event) {
        if (event.keyCode === 39) {
            navigateToAdjacent('#prev-post-link');
        }
        else if (event.keyCode === 37) {
            navigateToAdjacent('#next-post-link');
        }
    });

    function navigateToAdjacent (id) {
        anchor = $(id);
        if (anchor && anchor.attr('href')) {
            window.location = anchor.attr('href');
        }
    }
</script>

{{/post}}
